.filter {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	gap: 10px;
}

.filter > input {
	max-width: 50%;
}

.input {
	border-color: #0004ff;
	border-radius: 5px;
	margin-bottom: 10px;
	outline-color: blue;
	width: 300px;
	font-size: 18px;
  }